*.tar.gz
*.csv
*.rar
db/nebula-graph-studio
db/neo4j-conf
db/neo4j-data
db/nebula-graph-studio-3.10.0.tar.gz
db/neo4j-import
db/nebula-docker-compose
db/nebula-docker-compose.master
db/nebula-docker-compose-3.8.0
db/nebula-dashboard
db/neo4j-plugins
db/nebula-python
db/nebulagraph-ai
kg/data_model
kg/KBQA-study
kg/spo_extract_platform